/* ***** IMPORTS ***** */
@import './abstract/variables';
@import './abstract/mixins';

@import './components/header.scss';
@import './components/home.scss';
@import './components/information.scss';
@import './components/activities.scss';
@import './components/contact.scss';

/* ***** GENERAL ***** */
html, body{
  width: 100%;
  height: 100%;
  background-color: $primary-lighter;
  margin: 0;
  font-family: 'Archivo';
}

main{
  width: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0 !important;
}





/**
*
* Footer
*
**/

footer{
  background-color: $primary-lighter;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
  width: 100%;
  min-height: 300px;
}
footer .container{
  width: 70%;
  margin: 0 auto;
}

footer .item-right div{
  vertical-align: top;
  padding-right: 30px;
}
footer .item-right div ul{
  padding: 0;
}
footer .item-right div li{
  list-style: none;
  padding-bottom: 10px;
}
footer .item-right div li a{
  text-decoration: none;
  color: $black;
  font-weight: 300;
}
