/* ***** IMPORTS ***** */
@import './abstract/variables';
@import './abstract/mixins';

@import './components/header.scss';
@import './components/home.scss';
@import './components/information.scss';
@import './components/activities.scss';
@import './components/contact.scss';
@import './components/footer.scss';

/* ***** GENERAL ***** */
html, body{
  width: 100%;
  height: 100%;
  background-color: $primary-lighter;
  margin: 0;
  font-family: 'Archivo';
}

main{
  width: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0 !important;
}

