/* ***** ACTIVITIES ***** */
#activities{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 10px 100px;
}
#activities h2{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#activities h2:before{
  content:"";
  display: block;
  width: 90px;
  height: 90px;
  background: transparent url('./images/explore.png') 0 0 no-repeat padding-box;
  margin: 0 20px;
  padding-bottom: 15px;
}

.activity{
  @include card(340px, $white);
}

.activity .image-container{
  width: 100%;
  height: 180px;
  position: relative;
  background-image: linear-gradient(#ffffff31,#ffffff31), 
   url("./images/nature-1.jpg"); 
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}
.activity .image-container img#bg{
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  height: auto;
  transition: transform 5s linear; 
}
.activity .image-container:hover img#bg{
  transform: scale(2, 2);
}

.activity .image-container img{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: $white;
  padding: 5px 5px;
  border-radius: 10px;
}
.activity .image-container span{
  color: $primary;
  position: absolute;
  bottom: -10px;
  left: 33%;
  background-color: $white;
  padding: 10px 10px;
  border-radius: 10px;
}
.activity button{
  @include button($grey, $background, $background);
  text-transform: capitalize;
  font-weight: bold;
}
/** lien fin de block **/
#activities div:last-child{
  padding: 50px 0 20px;
}
#activities div:last-child a{
  @include button($primary, $primary, transparent);
  text-transform: capitalize;
  font-weight: 600;
}