/* ***** CONTACT ***** */
#contact {
  @include card(auto, $primary-midlighter);
  height: 400px;
  margin: 0 50px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background: url(../../images/camp-bg.jpg);
  background-size: cover;
  overflow: hidden;
  @media (max-width: $m) {
    flex-direction: column-reverse;
    margin: 0 10px;
    height: fit-content;
  }
  /* ITEM LEFT */
  .item-left {
    padding: 30px;
    width: 35%;
    @media (max-width: $m) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        width: 70%;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        margin: 30px auto;
      }
    }
    p {
      font-weight: 600;
      @media (max-width: $m) {
        width: 85%;
        text-align: center;
      }
    }
    form{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      border: none;
      padding: 20px 15px;
      border-radius: 15px;
      background-color: $white;
      input[type="text"]{
        width: 80%;
      }
      input[type="submit"]{
        display: flex;
        background: url('./images/send.png');
        border: 0;
        height: 40px;
        width: 40px;
        background-color: $primary;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        box-shadow: 5px 10px 30px $primary-midlighter;
      }
    }
  }
  /* ITEM RIGHT */
  .item-right{
    background-image: URL("./images/camp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100%;
    width: 40%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media (max-width: $m) {
      width: 100%;
      height: 200px;
      background-position: center;
    }
  }
}