/* ***** FOOTER ***** */
footer{
  margin-top: 150px;
  background-color: $primary-midlighter;
  border-radius: 100px 100px 0 0;
  width: 100%;
  min-height: 300px;
  padding: 100px;
  > div{
    display: flex;
    justify-content: space-between;
    h4 {
      font-weight: 800;
    }
    .item-left {
      width: 40%;
      text-align: justify;
    } 
    .item-right {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
}

footer .item-right div{
  vertical-align: top;
  padding-right: 30px;
}
footer .item-right div ul{
  padding: 0;
}
footer .item-right div li{
  list-style: none;
  padding-bottom: 10px;
}
footer .item-right div li a{
  text-decoration: none;
  color: $black;
  font-weight: 300;
}