/* ***** HEADER ***** */
header{
  position: relative;
  z-index: 10;
  text-align: center;
  width: 100%;
  height: fit-content;
  position: fixed; 
  top: 0;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Right and left blocs */
  >div:first-child{
    padding-left: 50px;
  }
  header div:last-child{
    padding-right: 50px;
    margin-top: 16px;
  }
  /* LEFT SIDE */
  .item-left {
    display: flex;
    align-items: center;
    #logo img{
      vertical-align: middle;
    }
    /* Nav list */
    nav {
      ul {
      display: flex;
      @media (max-width: $m) {
        display: none;
      }
        li {
        padding: 0 10px;
          a{
            color:$white;
            text-decoration: none;
          }
        }
      }
    }
  }
  /* *** RIGHT SIDE *** */
  .item-right {
    @media (max-width: $m) {
      a {
        display: none;
      }
      box-sizing: border-box;
      width: 30px;
      height: 40px;
      margin-right: 50px;
      border-radius: 15px;
      background-color: $primary-lighter;
      position: relative;
      cursor: pointer;
      &::before {
        display: flex;
        content: "";
        width: 25px;
        height: 2.5px;
        background: $primary;
        box-shadow: 
          0 5px 0 0 $primary,
          0 10px 0 0 $primary;
        position: absolute;
        left: 12px;
        top: 15px;
      }
    }
    div:last-child a{
      color: $white;
      margin-right: 15px;
      &:last-child{
        border: 1px solid $white;
        border-radius: 30px;
        padding: 10px 15px
      }
    }
  }
}


/* *** ON SCROLL *** */



/** Quand le header scroll **/
header.srolling{
  background-color: $white;
  color:$black;
  z-index: 999;
  nav ul li a{
    color:$black;
    text-decoration: none;
  }
  div:last-child a{
    color: $black;
    &:last-child{
      border: 1px solid $black;
    }
  }
}